.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 193px;
  height: 53px;
  object-fit: contain;
}

@media screen and (max-width: 544px) {
  .header {
    min-height: 85px;
  }

  .header__logo {
    width: 156px;
    height: 54px;
    margin: 0 0 0 7px;
  }
}
